@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Hide scrollbars */
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-glow {
  box-shadow: 0px 0px 30px 0px purple;
}
