@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Hide scrollbars */
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: rgb(0 100 0/0.1) !important; */
}

.img-glow {
  box-shadow: 0px 0px 30px 0px purple;
}

.header-name-text {
  /*background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  color: #fff;
  text-shadow: -2px 2px #ef3550, -4px 4px #f48fb1, -6px 6px #7e57c2,
    -8px 8px #2196f3, -10px 10px #26c6da, -12px 12px #43a047, -14px 14px #eeff41,
    -16px 16px #f9a825, -18px 18px #ff5722;*/
}

.rainbow-text {
  /* font-size: 24px; Adjust the font size as needed */
}

.violet {
  color: violet;
}

.indigo {
  color: indigo;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.red {
  color: red;
}
